:root {
	--accent: rgb(91, 91, 206);
	--white: #f2f2f2;
	--less-white: #afafaf;
	--border: rgba(100, 100, 100, 0.5);
	--border-accent: rgba(100, 100, 100, 0.7);
	--yellow: rgb(209, 206, 4);
	--navigation-width: 3rem;
	--background: rgba(0, 0, 0, 0.9);
	--red: rgb(194, 0, 0);
}

* {
	margin: 0;
	padding: 0;
	position: relative;
}

html, body {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: var(--background);
	color: var(--white);
}

h1 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

h1, h2, h3 {
	font-weight: normal;
}

input {
	box-sizing: border-box;
	font-size: 0.9rem;
	border: none;
	border: 1.5px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
	padding: 0.5rem;
	color: var(--white);
}

input[type = 'checkbox'] {
	width: 1.25rem;
	height: 1.25rem;
}

button {
	border-radius: 4px;
	color: var(--white);
	padding: 0.5rem;
	background-color: transparent;
	border: none;
	font-size: 0.9rem;
	cursor: pointer;
	min-width: 64px;
}

button.emphasis {
	border: 1px solid var(--accent);
	color: var(--accent);
}

button.contained {
	background-color: var(--accent);
}

button.delete {
	border: 1px solid var(--red);
	color: var(--red);
}

button:disabled {
	cursor: not-allowed;
}

div.disabled {
	pointer-events: none;
}

a {
	color: var(--accent);
}

p {
	color: var(--less-white);
	line-height: 1.2;
}

.fas, .fab, .far {
	color: var(--less-white);
	font-size: 2rem;
	vertical-align: middle;
}

.far.fa-trash-alt {
	font-size: 1rem;
	color: var(--red);
	min-width: 0;
}

.navigation {
	position: fixed;
	float: left;
	padding: 3rem 1rem 0 1rem;
	width: var(--navigation-width);
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	z-index: 1;
}

.navigation > .stick-bottom {
	position: absolute;
	bottom: 0;
	padding: 0 1rem 5rem 1rem;
}

.navigation .fas,
.navigation .fab {
	margin-bottom: 2rem;
	vertical-align: middle;
}

.personal-banner > * {
	display: inline-block;
	text-align: top;
	margin-right: 0.5rem;
}

.balance-content > div > p {
	margin-top: 1rem;
}

.balance-content .fas {
	vertical-align: auto;
}

.balance-content > div > div:not(:first-child) {
	margin-top: 1rem;
}

.balance-content > div > div:first-child > * {
	display: inline;
	font-size: 1.5rem;
}

.balance-content > div > div:first-child > .fas {
	margin-right: 0.5rem;
	vertical-align: baseline;
}

.balance-wrapper {
	flex: 2;
	margin-left: 5rem;
	width: 100%;
}

.balance-content > div {
	width: 47%;
}

.personal-banner > img {
	height: 1.5rem;
}

.m-top-1 {
	margin-top: 1rem;
}

.button-wrapper {
	direction: rtl;
}

.button-wrapper > button {
	width: 100%;
}

#swap-note {
	width: 100%;
}

#check-tag {
	width: 100%;
}

.swap-input-content {
	width: 72%;
}

#swap-amount {
	width: 25%;
}

.swap-input-wrapper {
	justify-content: space-between;
}

#swap-status,
.list-user-status {
	margin-top: 1rem;
	padding: 0.25rem 0 0.25rem 0.5rem;
	border-left: 2px solid var(--border-accent);
}

#check-indicator {
	position: absolute;
	right: 10px;
	top: 8px;
}

.content {
	padding: 3rem 5rem 3rem 9rem;
}

.content > div:not(:first-child),
.vertical > div:not(:first-child) {
	margin-top: 3rem;
}

.hidden {
	display: none;
}

.blacklist-wrapper > div {
	width: 50%;
	margin-bottom: 2rem;
}

.blacklist-button-wrapper {
	direction: rtl;
}

.divider {
	width: 100%;
	margin: 1.5rem 0 1.5rem 0;
	border-bottom: 1px solid var(--border);
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.settings-wrapper > div {
	width: 50%;
}

.settings-wrapper > .settings-block:not(:first-child) {
	margin-top: 3rem;
}

.settings-block > .setting:not(:last-child) {
	margin-bottom: 2rem;
}

.setting > .setting-header {
	margin-bottom: 0.5rem;
}

.settings-save {
	margin: 2rem -2rem 0 0;
	direction: rtl;
}

.setting-extra {
	margin-top: 1rem;
}

.setting-extra > div.flex-row:not(:first-child) {
	margin-top: 1rem;
}

#settings-status {
	display: inline;
	margin-right: 1rem;
}

.fa-check {
	color: green;
}

.fa-times {
	color: var(--red);
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.warn-text {
	color: var(--yellow);
}

.blacklist-user:not(:first-child) {
	margin-top: 1rem;
}

.blacklist-user-shaketag {
	margin-bottom: 0.5rem;
	color: var(--white);
}

.blacklist-user > button.delete {
	align-self: center;
}

#blacklist > .flex-row {
	justify-content: space-evenly;
}

#blacklist > .flex-col {
	justify-content: space-between;
}

#blacklist .blacklist-direction {
	display: inline-block;
}

#blacklist .blacklist-direction:first-child {
	margin-right: 1rem;
}

.blacklist-input {
	align-self: center;
}

#blacklist-amount {
	margin-top: 1rem;
}

.stats > div {
	width: 20%;
}

.stats h2 {
	color: #5bcece;
}

.rounded {
	border-radius: 7px;
	border: 1.5px solid var(--border);
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

.center {
	text-align: center;
}

.update {
	margin-bottom: 1.5rem;
	border-color: #ce785b;
}

.swap {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.vertical {
	display: inline-block;
}

.other > div {
	width: 30%;
}

p#check-input-subtext {
	margin: 0.25rem 0 0.5rem 0;
	font-size: 0.75rem;
}

.add-link {
	cursor: pointer;
	color: var(--accent);
}

.border-red {
	border-color: rgba(255, 0, 0, 0.7) !important;
}

.border-green {
	border-color: rgba(0, 255, 0, 0.7) !important;
}

.border-yellow {
	border-color: var(--yellow) !important;
}

.loading {
	display: inline-block;
	position: relative;
	width: 0.9rem;
	height: 0.9rem;
}

.loading div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 1rem;
	height: 1rem;
	margin: 2px;
	border: 2px solid var(--less-white);
	border-radius: 50%;
	animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--less-white) transparent transparent transparent;
}

.loading div:nth-child(1) {
	animation-delay: -0.45s;
}

.loading div:nth-child(2) {
	animation-delay: -0.3s;
}

@keyframes loading {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.list-header {
	width: 90%;
	margin-bottom: 3rem;
}

.list-users-wrapper {
	width: 90%;
}

.list-users-wrapper > .rounded {
	width: 29%;
}

.list-user {
	margin-top: 1rem;
}

.list-user > .list-user-header > * {
	display: inline-block;
}

.list-header-input > * {
	width: 47%;
}

.list-header-input > div input,
.list-header-input > div button {
	width: 100%;
}

.list-header-input > div button {
	margin-top: 1rem;
}

button > .loading {
	top: -1px;
	left: -3px;
}

.list-user-header {
	align-items: center;
}

.list-user-control {
	direction: rtl;
	flex-grow: 1;
}

.list-user-control > button {
	min-width: 0;
	margin-left: 0.5rem;
}

#list-note-save > * {
	font-size: 0.9rem;
	color: var(--white);
}

.button-icon-override > * {
	color: var(--white);
	font-size: 0.9rem;
}

.down-wrapper > * {
	font-size: 3rem;
	margin: 0 auto;
}

.down-wrapper {
	height: 100%;
	justify-content: center;
}

.down-wrapper > *:first-child {
	margin-bottom: 2rem;
}

.fa-dizzy {
	font-size: 7rem;
}

.list-user-button-warning {
	width: 100%;
	direction: rtl;
}

@media only screen and (max-width: 1800px) {
	.list-users-wrapper,
	.list-header {
		width: 100%;
	}
}

.list-info-buttons {
	width: 100%;
	flex: 1;
}

.list-info-buttons > button {
	width: 100%;
}

.list-info-buttons > button:not(:first-child) {
	margin-top: 1rem;
}

.list-info-buttons > button:first-child {
	margin-bottom: 1rem;
}

.list-header > div.rounded:first-child {
	flex: 2;
}

.list-header > div.rounded:nth-child(2) {
	margin-left: 1rem;
	flex: 1;
}

#clear-list {
	color: var(--red);
}

#modal-wrapper {
	z-index: 10;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	top: -3rem;
	left: 0;
	width: 100%;
	height: 100%;
}

#modal-content {
	z-index: 20;
	position: relative;
	width: 60%;
	margin: 4% auto;
	background-color: rgb(29, 29, 29);
	height: 80%;
}

#modal-control {
	flex: 4;
	height: 100%;
}

#modal-control > div {
	flex: 1;
	width: 100%;
}

#modal-list {
	flex: 5;
	margin-left: 2rem;
	overflow-y: scroll;
	height: 100%;
}

#modal-bank-wrapper {
	box-sizing: border-box;
	overflow-y: scroll;
	width: 100%;
}

#modal-bank {
	width: 100%;
}

.modal-bank-header {
	width: 100%;
}

.list-info {
	align-self: stretch;
}

.list-draggable {
	width: 80%;
	cursor: grab;
}

.list-draggable:not(:first-child) {
	margin-top: 0.5rem;
}

.list-number {
	font-size: 2rem;
	padding: 0.5rem;
	direction: rtl;
}

.list-number:not(:first-child) {
	margin-top: 0.5rem;
}


#modal-list-shaketags {
	margin-left: 1rem;
	flex: 1;
}

#modal-info {
	flex: 1;
}

#modal-info-buttons {
	margin-bottom: 1rem;
	width: 100%;
}

#modal-info-buttons > button {
	width: 30%;
}

#modal-clear {
	color: var(--red);
}