:root {
	--accent: rgb(91, 91, 206);
	--white: #f2f2f2;
	--less-white: #afafaf;
	--border: rgba(100, 100, 100, 0.5);
	--yellow: rgb(209, 206, 4);
	--navigation-width: 3rem;
	--background: rgba(0, 0, 0, 0.9)
}

* {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: var(--background);
	color: var(--white);
}

h1 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

h1, h2, h3 {
	font-weight: normal;
}

input {
	font-size: 0.9rem;
	border: none;
	border: 1.5px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
	padding: 0.5rem;
	color: var(--white);
}

input[type = 'checkbox'] {
	width: 1.25rem;
	height: 1.25rem;
}

button {
	border-radius: 4px;
	color: var(--white);
	padding: 0.5rem;
	background-color: transparent;
	border: none;
	font-size: 0.9rem;
	cursor: pointer;
	min-width: 64px;
}

button.emphasis {
	color: var(--accent);
}

button.contained {
	background-color: var(--accent);
}

button:disabled {
	cursor: not-allowed;
}

a {
	color: var(--accent);
}

p {
	color: var(--less-white);
}

.fas, .fab {
	color: var(--less-white);
	font-size: 2rem;
	vertical-align: middle;
}

.navigation {
	position: fixed;
	float: left;
	padding: 3rem 1rem 0 1rem;
	width: var(--navigation-width);
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	z-index: 1;
}

.navigation > .stick-bottom {
	position: absolute;
	bottom: 0;
	padding: 0 1rem 5rem 1rem;
}

.navigation .fas,
.navigation .fab {
	margin-bottom: 2rem;
}

.personal-banner > * {
	display: inline-block;
	text-align: top;
	margin-right: 0.5rem;
}

.balance-content > div > p {
	margin-top: 2rem;
}

.balance-content > div > div:not(:first-child) {
	margin-top: 1rem;
}

.balance-content > div > div:first-child > * {
	display: inline;
	font-size: 1.5rem;
}

.balance-content > div > div:first-child > .fas {
	margin-right: 0.5rem;
}

.balance-wrapper {
	flex: 2;
	margin-left: 5rem;
	width: 100%;
}

.balance-content > div {
	width: 47%;
}

.personal-banner > img {
	height: 1.5rem;
}

.m-top-1 {
	margin-top: 1rem;
}

.button-wrapper {
	direction: rtl;
}

.button-wrapper > * {
	display: inline-block;
}

.content {
	padding: 3rem 5rem 3rem 9rem;
}

.content > div:not(:first-child),
.vertical > div:not(:first-child) {
	margin-top: 3rem;
}

.blacklist-wrapper > div {
	width: 40%;
	margin-bottom: 2rem;
}

.divider {
	margin: 1.5rem 0 1.5rem 0;
	border-bottom: 1px solid var(--border);
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.settings-wrapper > div {
	width: 50%;
}

.settings-wrapper > .settings-block:not(:first-child) {
	margin-top: 3rem;
}

.settings-block > .setting:not(:last-child) {
	margin-bottom: 2rem;
}

.setting > .setting-header {
	margin-bottom: 0.5rem;
}

.settings-save {
	margin: 2rem -2rem 0 0;
	direction: rtl;
}

#settings-status {
	display: inline;
	margin-right: 1rem;
}

.fa-check {
	color: green;
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.warn-text {
	color: var(--yellow);
}

.blacklist-user:not(:first-child) {
	margin-top: 1rem;
}

.blacklist-user > * {
	display: inline-block;
}

.stats > div {
	width: 20%;
}

.stats h2 {
	color: #5bcece;
}

.rounded {
	border-radius: 7px;
	border: 1.5px solid var(--border);
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

#swap-amount {
	width: 5rem;
}

.center {
	text-align: center;
}

.update {
	margin-bottom: 1.5rem;
	border-color: #ce785b;
}

.swap {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.vertical {
	display: inline-block;
}

.other > div {
	width: 30%;
}

.swap-input-wrapper {
	display: inline-block;
	vertical-align: top;
}

p#swap-input-subtext {
	margin-top: 0.25rem;
	font-size: 0.75rem;
}

.add-link {
	cursor: pointer;
	color: var(--accent);
}

.underline-red {
	border-bottom: 1.5px solid rgba(255, 0, 0, 0.7);
}

.underline-green {
	border-bottom: 1.5px solid rgba(0, 255, 0, 0.7);
}