:root {
	--accent: rgb(91, 91, 206);
	--white: #f2f2f2;
	--less-white: #afafaf;
	--border: rgba(100, 100, 100, 0.5);
	--yellow: rgb(209, 206, 4);
}

* {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	padding: 2rem 7% 2rem 7%;
	background-color: rgba(0, 0, 0, 0.9);
	color: var(--white);
}

h1 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

h1, h2 {
	font-weight: normal;
}

input {
	font-size: 1rem;
	border: none;
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
	padding: 0.5rem;
	color: var(--white);
}

button {
	border-radius: 4px;
	color: var(--white);
	padding: 0.5rem;
	background-color: transparent;
	border: none;
	font-size: 0.9rem;
	cursor: pointer;
	min-width: 64px;
}

button.emphasis {
	color: var(--accent);
}

button.contained {
	background-color: var(--accent);
}

button:disabled {
	cursor: not-allowed;
}

a {
	color: var(--accent);
}

p {
	color: var(--less-white);
}

.personal-banner > * {
	display: inline-block;
	text-align: top;
	margin-right: 0.5rem;
}

.personal-banner > img {
	height: 1.5rem;
}

.m-top-1 {
	margin-top: 1rem;
}

.button-wrapper {
	direction: rtl;
}

.button-wrapper > * {
	display: inline-block;
}

.content > div:not(:first-child),
.vertical > div:not(:first-child) {
	margin-top: 3rem;
}

.balance-wrapper > div {
	width: 40%;
	margin-bottom: 2rem;
}

.divider {
	margin: 1.5rem 0 1.5rem 0;
	border-bottom: 1px solid var(--border);
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.warn-text {
	color: var(--yellow);
}

.blacklist-user:not(:first-child) {
	margin-top: 1rem;
}

.blacklist-user > * {
	display: inline-block;
}

.stats > div {
	width: 20%;
}

.stats h2 {
	color: #5bcece;
}

.rounded {
	border-radius: 7px;
	border: 1.5px solid var(--border);
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

.center {
	text-align: center;
}

.update {
	margin-bottom: 1.5rem;
	border-color: #ce785b;
}

.swap {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.vertical {
	display: inline-block;
}

.other > div {
	width: 30%;
}

.swap-input-wrapper {
	display: inline-block;
	vertical-align: top;
}

p#swap-input-subtext {
	margin-top: 0.25rem;
	font-size: 0.75rem;
}

.add-link {
	cursor: pointer;
	color: var(--accent);
}

.underline-red {
	border-bottom: 1.5px solid rgba(255, 0, 0, 0.7);
}

.underline-green {
	border-bottom: 1.5px solid rgba(0, 255, 0, 0.7);
}