<!DOCTYPE html>
<html>
	<head>
		<title>burntbot</title>
		<link href = '{{ url_for("static", filename = "css/styles.css") }}' rel = 'stylesheet' />
		<link href = '{{ url_for("static", filename = "css/all.min.css") }}' rel = 'stylesheet' />
	</head>
	<body>
		<div class = 'down-wrapper flex-col'>
			<!-- <img src = '{{ url_for("static", filename = "down.svg") }}'> -->
			<i class="far fa-dizzy"></i>
			<p>Oops, the bot crashed.</p>
			<p>It's restarting right now, come back later!</p>
		</div>
	</body>
</html>