{% from 'stats.html' import stats %}
{% from 'swap.html' import swap %}
{% from 'settings.html' import settings %}
{% from 'autoswap.html' import autoswap %}
{% from 'balance.html' import balance %}

{% extends 'layout.html' %}

{% block body %}
	<div class = 'home-general'>
		<div class = 'personal-banner'>
			<h1>Hello {{ data['shaketag'] }}</h1>
			{% for paddle in data['paddles'] %}
				<img src = 'data:image/png;base64,{{ paddle["icon"] }}' />
			{% endfor %}
		</div>
		{{ stats(data) }}
	</div>
	<div class = 'flex-row other'>
		<div class = 'vertical'>
			{{ swap() }}
			{{ settings() }}
		</div>
		<div>
			{{ autoswap() }}
		</div>
		<div>
			{{ balance() }}
		</div>
	</div>
{% endblock %}