{% from 'components/stats.html' import stats %}
{% from 'components/swap.html' import swap %}
{% from 'components/balance.html' import balance %}
{% from 'components/update.html' import update_notification %}

{% extends 'layout.html' %}

{% block body %}
	{% if data['update'] %}
		{{ update_notification(data['master_version']) }}
	{% endif %}
	<div class = 'home-general'>
		<div class = 'personal-banner'>
			<h1>Hello {{ data['shaketag'] }}</h1>
			{% for paddle in data['paddles'] %}
				<img src = 'data:image/png;base64,{{ paddle["icon"] }}' />
			{% endfor %}
		</div>
		{{ stats(data) }}
	</div>
	<div class = 'flex-row other'>
		{{ swap() }}
		{{ balance(data['they_owe'], data['we_owe']) }}
	</div>
{% endblock %}