{% from 'stats.html' import stats %}
{% from 'swap.html' import swap %}
{% from 'settings.html' import settings %}
{% from 'autoswap.html' import autoswap %}
{% from 'balance.html' import balance %}

{% extends 'layout.html' %}

{% block body %}
	<div class = 'home-general'>
		<h1>Hello {{ data['shaketag'] }}</h1>
		{{ stats(data) }}
	</div>
	<div class = 'flex-row other'>
		<div class = 'vertical'>
			{{ swap() }}
			{{ settings() }}
		</div>
		<div>
			{{ autoswap() }}
		</div>
		<div>
			{{ balance() }}
		</div>
	</div>
{% endblock %}