<!DOCTYPE html>
<html>
	<head>
		<title>burntbot</title>
		<link href = '{{ url_for("static", filename = "css/styles.css") }}' rel = 'stylesheet' />
		<link href = '{{ url_for("static", filename = "css/all.min.css") }}' rel = 'stylesheet' />
		<script src = '{{ url_for("static", filename = "js.js") }}'></script>
	</head>
	<body>
		<div class = 'navigation flex-col'>
			<a href = '/' title = 'Home'><i class="fas fa-home"></i></a>
			<a href = '/blacklist' title = 'Blacklist'><i class="fas fa-user-slash"></i></a>
			<a href = '/settings' title = 'Settings'><i class="fas fa-cog"></i></a>
			<div class = 'stick-bottom flex-col'>
				<a href = 'https://github.com/itslupus/burntbot' title = 'Github' target = '_blank'><i class="fab fa-github"></i></a>
				<p>v{{ data['version'] }}</p>
			</div>
		</div>
		<div class = 'content'>
			{% block body %}
			{% endblock %}
		</div>
	</body>
</html>