{% from 'components/list_user.html' import user %}

{% extends 'layout.html' %}

{% block body %}
	<div class = 'flex-col list-wrapper'>
		<div class = 'list-header flex-row'>
			<div class = rounded>
				<h2>List</h2>
				<div class = 'list-info-wrapper'>
					<p style = 'margin-bottom: 0.25rem;'>Add people to your daily send list!</p>
					<p>Enter a single @shaketag, or a comma separated list and hit add. To delete existing shaketags, just press the <i class="far fa-trash-alt"></i> button!</p>
					<p class = 'warn-text m-top-1'>Something not right here? Come back later! The bot has to fetch new transactions for this page to update.</p>
					<div class = 'divider'></div>
					<div class = 'list-header-input flex-row'>
						<div>
							<form id = 'submit' autocomplete = 'off' class = 'flex-col'>
								<input id = 'list-tag' placeholder = 'tag1,tag2,tag3, ...'>
								<button id = 'list-add-submit' type = 'submit' class = 'contained'>ADD</button>
							</form>
						</div>
						<div class = 'flex-col'>
							<input autocomplete = 'off' id = 'list-note' placeholder = 'custom note (optional)' value = '{{ data["note"] }}'>
							<button id = 'list-note-save' type = 'submit' class = 'contained' onclick = save_list_note(this)>SAVE</button>
						</div>
					</div>
				</div>
			</div>
			<div class = 'rounded list-info flex-col'>
				<div class = 'list-info-content'>
					<h2>time left until next auto swap:</h2>
					<h2>12hr 30mins</h2>
				</div>
				<div class = 'list-info-buttons flex-row'>
					<button id = 'clear-modal' type = 'submit' class = 'emphasis border-red' onclick = trigger_delete_modal()>CLEAR LIST</button>
					<button id = 'edit-list' type = 'submit' class = 'contained' onclick = save_list_note(this)>EDIT LIST</button>
					<button id = 'send' type = 'submit' class = 'contained'>SEND ALL</button>
				</div>
			</div>
		</div>
		<div class = 'flex-row list-users-wrapper'>
			<div id = 'not-sent' class = 'rounded'>
				<h2><i class="fas fa-list-ul"></i> Not Sent</h2>
				<p>You haven't sent to these people yet</p>
				<div>
					{% for shaketag, children in data['to_send'].items() %}
						{{ user(shaketag, children, 1) }}
					{% endfor %}
				</div>
			</div>
			<div class = 'rounded'>
				<h2><i class="far fa-clock"></i> Waiting</h2>
				<p>Waiting for returns from these people</p>
				<div id = 'list-waiting'>
					{% for shaketag, children in data['waiting'].items() %}
						{{ user(shaketag, children) }}
					{% endfor %}
				</div>
			</div>
			<div class = 'rounded'>
				<h2><i class="fas fa-check"></i> Done</h2>
				<p>All done for today, come back next reset</p>
				<div>
					{% for shaketag, children in data['done'].items() %}
						{{ user(shaketag, children) }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<script>
		function add_shaketags(event) {
			event.preventDefault();

			let submit = document.getElementById('list-add-submit');
			set_loading(submit);
			submit.disabled = true;

			let input = document.getElementById('list-tag');
			let data = [];

			// dont care about valid tags, validate on server
			for (let shaketag of input.value.split(',')) {
				data.push(shaketag);
			}

			fetch('/list/', {
				method: 'PATCH',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({shaketags: data})
			})
			.then((data) => {
				if (data.ok) {
					window.location.reload();
				}
			});
		}

		function send_list(click_event) {
			let button = click_event.target;
			
			set_loading(button);
			button.disabled = true;

			let stream = new EventSource('/list/send/');

			let waiting = document.getElementById('list-waiting');
			stream.onmessage = (event) => {
				if (event.data === 'done') {
					console.log('done');
					stream.close();

					set_checkmark(button);
					button.classList.add('button-icon-override');
				} else {
					let list_user = document.querySelector(`div.rounded.list-user[data-shaketag="${event.data}"]`);

					// remove buttons incase the user gets any funny ideas
					let buttons = list_user.querySelectorAll('button');
					if (buttons.length > 1) {
						buttons[0].remove();
					}

					waiting.append(list_user);
				}
			}

			stream.onerror = (event) => {
				stream.close();
			}
		}

		function save_list_note(button) {
			button.disabled = true;
			set_loading(button);

			let note = document.getElementById('list-note').value;

			fetch('/list/note/', {
				method: 'PATCH',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({note: note})
			})
			.then((data) => {
				if (data.ok) {
					button.disabled = false;
					set_checkmark(button);
				}
			});
		}

		function trigger_delete_modal() {
			if (window.confirm('Are you sure you want to clear your list?')) {
				delete_list()
			}
		}

		function delete_list() {
			let button = document.getElementById('clear-modal')
			set_loading(button);
			button.disabled = true;

			fetch('/list/clear/', {
				method: 'DELETE'
			})
			.then(async (data) => {
				if (await data.ok) {
					window.location.reload();
				} else {
					console.log('list', 'not cleared');
				}
			});
		}

		document.getElementById('submit').addEventListener('submit', add_shaketags);
		document.getElementById('send').addEventListener('click', send_list);
	</script>
{% endblock %}