{% extends 'layout.html' %}

{% block body %}
	<div class = 'flex-col settings-wrapper'>
		<div class = 'rounded settings-block'>
			<h2>Bot Settings</h2>
			<div class = 'divider'></div>
			<div class = 'setting'>
				<div class = 'setting-header'>Return Note</div>
				<div class = 'flex-row'>
					<p>Change the bot's auto-return note.</p>
					<input id = 'setting-note' type = 'text' value = '{{ data["note"] }}' autocomplete = 'off'>
				</div>
			</div>
			<div class = 'setting'>
				<div class = 'setting-header'>Poll Rate</div>
				<div class = 'flex-row'>
					<p>Change the rate at which the bot gets new transactions. (minimum: 1 second)</p>
					<input id = 'setting-poll-rate' type = 'number' min = '1' value = '{{ data["poll_rate"] }}' autocomplete = 'off'>
				</div>
			</div>
			<div class = 'setting'>
				<div class = 'setting-header'><a href = 'https://swap.labrie.ca' target = '_blank'>Community Swapper Database</a></div>
				<div class = 'flex-row'>
					<p>Prevent send back to scammers and those that don't send back</p>
					<input id = 'setting-auto-check' type = 'checkbox' autocomplete = 'off' {{ 'checked' if data['return_check'] else '' }}>
				</div>
			</div>
		</div>
		<div class = 'rounded settings-block'>
			<h2>Misc Settings</h2>
			<div class = 'divider'></div>
			<div class = 'setting'>
				<div class = 'setting-header'>Auto-Shake</div>
				<div class = 'flex-row'>
					<p>Turn on to auto-shake for shaking sats</p>
					<input id = 'setting-auto-shake' type = 'checkbox' autocomplete = 'off' {{ 'checked' if data['shaking_sats_enabled'] else '' }}>
				</div>
			</div>
			<div class = 'setting'>
				<div class = 'setting-header'><a href = 'https://swap.labrie.ca' target = '_blank'>Bot Heart Beat</a></div>
				<div class = 'flex-row'>
					<p>Enable the bot to report to @domi167's bot registry, leaving the below section blank will hide waitlist position, points and swaps</p>
					<input id = 'setting-heart-beat' type = 'checkbox' autocomplete = 'off' {{ 'checked' if data['heart_beat'] else '' }}>
				</div>
				<div class = 'rounded setting-extra'>
					<div class = 'flex-row'>
						<p>Report waitlist position</p>
						<input id = 'setting-heart-beat-position' type = 'checkbox' autocomplete = 'off' {{ 'checked' if data['heart_beat_position'] else '' }}>
					</div>
					<div class = 'flex-row'>
						<p>Report waitlist points</p>
						<input id = 'setting-heart-beat-points' type = 'checkbox' autocomplete = 'off' {{ 'checked' if data['heart_beat_points'] else '' }}>
					</div>
					<div class = 'flex-row'>
						<p>Report total swaps completed today</p>
						<input id = 'setting-heart-beat-swaps' type = 'checkbox' autocomplete = 'off' {{ 'checked' if data['heart_beat_swaps'] else '' }}>
					</div>
				</div>
			</div>
		</div>
		<div class = 'settings-save'>
			<button id = 'submit' type = 'submit' class = 'contained'>SAVE</button>
			<div id = 'settings-status'></div>
			<div class="lds-ring"><div></div><div></div></div>
		</div>
	</div>

	<script type = 'text/javascript'>
		function toggle_settings_save(enabled) {
			let save_button = document.getElementById('submit');
			save_button.disabled = !enabled;

			if (enabled) {
				save_button.innerHTML = 'SAVE'
			} else {
				set_loading(save_button);
			}
		}

		function save(event) {
			let poll_rate = document.getElementById('setting-poll-rate');

			if (poll_rate.value < 4) {
				poll_rate.classList.add('border-red');
			} else {
				poll_rate.classList.remove('border-red');
				toggle_settings_save(false);

				fetch('/settings/', {
					method: 'PATCH',
					headers: {'Content-Type': 'application/json'},
					body: JSON.stringify({
						note: document.getElementById('setting-note').value,
						poll_rate: poll_rate.value,
						return_check: document.getElementById('setting-auto-check').checked,
						shaking_sats_enabled: document.getElementById('setting-auto-shake').checked,
						heart_beat: document.getElementById('setting-heart-beat').checked,
						heart_beat_points: document.getElementById('setting-heart-beat-points').checked,
						heart_beat_swaps: document.getElementById('setting-heart-beat-swaps').checked,
						heart_beat_position: document.getElementById('setting-heart-beat-position').checked
					})
				})
				.then(async (data) => {
					let status = document.getElementById('settings-status');
					status.innerHTML = '';

					if (await data.ok) {
						set_checkmark(status);
					} else {
						set_x(status);
					}
					
					toggle_settings_save(true);
				});
			}
		}

		document.getElementById('submit').addEventListener('click', save);
	</script>
{% endblock %}