{% macro stats() %}
	<div class = 'flex-row stats'>
		<div class = 'rounded'>
			<h2 class = 'center'>69</h2>
			<p class = 'center'>Waitlist Position</p>
		</div>
		<div class = 'rounded'>
			<h2 class = 'center'>420 420</h2>
			<p class = 'center'>Total Points</p>
		</div>
		<div class = 'rounded'>
			<h2 class = 'center'>+ 420</h2>
			<p class = 'center'>Points Today</p>
		</div>
		<div class = 'rounded'>
			<h2 class = 'center'>420</h2>
			<p class = 'center'>Unique Swappers (since May 2nd)</p>
		</div>
	</div>
{% endmacro %}