{% macro swap() %}
	<div>
		<div class = 'rounded swap'>
			<h2>Swap</h2>
			<p>Send $5 to another swapper</p>
			<form id = 'swap' class = 'm-top-1' autocomplete = 'off'>
				<div>
					<input type = 'text' placeholder = 'note'>
					<input type = 'text' placeholder = '@shaketag'>
				</div>
				<div class = 'button-wrapper m-top-1'>
					<button id = 'submit' type = 'submit' class = 'contained'>SWAP</button>
					<button id = 'check' type = 'submit' class = 'emphasis'>CHECK</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		function check(event) {
			event.preventDefault()
			
			console.log(event.submitter)

			// fetch('/check/test')
			// .then(async (data) => {
			// 	console.log(await data.text())
			// })
		}

		document.getElementById('swap').addEventListener('submit', check)
	</script>
{% endmacro %}