{% from 'components/balance_user.html' import balance_user %}

{% macro balance(they_owe, we_owe) %}
	<div class = 'rounded balance-wrapper'>
		<div class = 'flex-row balance-content'>
			<div>
				<div><i class="fas fa-angle-double-up"></i><h2>Sent</h2></div>
				{% if they_owe | length > 0 %}
					{% for obj in they_owe %}
						{{ balance_user(obj['shaketag'], obj['amount'], obj['timestamp']) }}
					{% endfor %}
				{% else %}
					<p>clean slate, all done!</p>
				{% endif %}
			</div>
			<div>
				<div><i class="fas fa-angle-double-down"></i><h2>Recieved</h2></div>
				{% if we_owe | length > 0 %}
					{% for obj in we_owe %}
						{{ balance_user(obj['shaketag'], obj['amount'], obj['timestamp']) }}
					{% endfor %}
				{% else %}
					<p>clean slate, all done!</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endmacro %}