{% macro user(shaketag, data, is_initiate) %}
	<div class = 'rounded list-user {% if "do_not_send" in data %}border-red{% endif %}'>
		<div class = 'list-user-header flex-row'>
			{{ shaketag }}
			<div class = 'list-user-buttons'>
				{% if 'do_not_send' in data and is_initiate %}
					<button type = 'submit' value = '{{ shaketag }}' class = 'emphasis'>SEND ANYWAY</button>
				{% endif %}
				<button type = 'submit' class = 'delete' value = '{{ shaketag }}' onclick = remove_list_user(this)><i class="far fa-trash-alt"></i></button>
			</div>
		</div>
		{% if 'do_not_send' in data %}
			<div class = 'list-user-status'>
				{{ shaketag }} has been flagged! ({{ data['do_not_send'] }})
			</div>
		{% endif %}
	</div>
{% endmacro %}