{% macro user(data, is_initiate) %}
	{% if not data[2] == None %}
		<div class = 'rounded list-user {{ "border-yellow" if data | length == 4 else "border-red" }}' data-shaketag = {{ data[0] }}>
	{% else %}
		<div class = 'rounded list-user' data-shaketag = {{ data[0] }}>
	{% endif %}
		<div class = 'list-user-header flex-row'>
			<div>{{ data[0] }}</div>
			<div class = 'list-user-control'>
				<button type = 'submit' class = 'delete' value = '{{ data[0] }}' onclick = remove_list_user(this)><i class="far fa-trash-alt"></i></button>
				{% if not data[2] == None and is_initiate %}
					<button type = 'submit' value = '{{ data[0] }}' class = 'list-warning {{ "contained" if data | length == 4 else "emphasis" }}' onclick = list_ignore_warning(this)>IGNORE WARNING</button>
				{% endif %}
			</div>
		</div>
		{% if not data[2] == None %}
			<div class = 'list-user-status'>{{ data[2] }}</div>
		{% endif %}
	</div>
{% endmacro %}