{% macro swap() %}
	<div class = 'rounded swap'>
		<h2>Swap</h2>
		<p>Send $5 to another swapper</p>
		<div class = 'divider'></div>
		<form id = 'swap' class = 'm-top-1' autocomplete = 'off'>
			<div class = 'flex-row swap-input-wrapper'>
				<div class = 'swap-input-content'>
					<input id = 'swap-tag' type = 'text' placeholder = '@shaketag'>
					<p id = 'swap-input-subtext'>&nbsp</p>
				</div>
				<input id = 'swap-amount' type = 'number' min = 0 step = '0.01' placeholder = 'amount' value = '5'>
			</div>
			<input id = 'swap-note' type = 'text' placeholder = 'note (optional)'>
			<div class = 'button-wrapper m-top-1 flex-row'>
				<button id = 'submit' type = 'submit' class = 'contained' disabled>SWAP</button>
				<button id = 'check' type = 'submit' class = 'emphasis' disabled>CHECK</button>
			</div>
			<div id = 'swap-status'>sample text</div>
		</form>
	</div>
	<script type = 'text/javascript'>
		let swap_input_timer;

		function toggle_form_buttons(enabled) {
			document.getElementById('check').disabled = !enabled;
			document.getElementById('submit').disabled = !enabled;
		}
		
		function swap_form(event) {
			event.preventDefault();
			
			let shaketag = append_shaketag(document.getElementById('swap-tag').value);

			// easier than removing text and styling
			let status = document.getElementById('swap-status');
			status.classList.add('hidden');

			if (event.submitter.id === 'check') {
				let check_button = document.getElementById('check');
				set_loading(check_button);

				fetch('/check/' + shaketag)
				.then(async (data) => {
					json = await data.json();
					
					let readable_time = get_human_time((Date.now() / 1000) - json['last_date']);
					let status = document.getElementById('swap-status')

					if (json['swapped']) {
						status.textContent = `Already swapped!`;
					} else {
						status.textContent = `Have not swapped!`;
					}
				})

				check_button.innerHTML = 'CHECK';
			} else {
				let send_button = document.getElementById('submit');
				set_loading(send_button);

				toggle_form_buttons(false);

				let body = {
					note: document.getElementById('swap-note').value,
					amount: document.getElementById('swap-amount').value
				}

				fetch('/swap/' + shaketag, {
					method: 'POST',
					headers: {'Content-Type': 'application/json'},
					body: JSON.stringify(body)
				}).then(async (data) => {
					if (await data.ok) {
						document.getElementById('swap-status').textContent = `Sent to ${shaketag}`;
						toggle_form_buttons(true);
					} else {
						document.getElementById('swap-status').textContent = `Failed to send, do you have enough funds?`;
					}
				})

				send_button.innerHTML = 'SEND';
			}
			
			status.classList.remove('hidden');
		}

		function delay_search(event) {
			clearTimeout(swap_input_timer);
			
			let input = document.getElementById('swap-tag');
			input.classList.remove('border-red', 'border-green')

			let subtext = document.getElementById('swap-input-subtext');
			subtext.innerHTML = '&nbsp';

			swap_input_timer = setTimeout(async () => {
				toggle_form_buttons(false)
				shaketag = event.target.value.trim();

				if (shaketag !== '' && shaketag !== '@') {
					shaketag = append_shaketag(shaketag);

					fetch('/search/' + shaketag)
					.then(async (data) => {
						json = await data.json();

						if (json.found && json.match !== shaketag) {
							subtext.innerHTML = '';
							subtext.append('Did you mean: ');
							subtext.append(create_put_link(json.match));
							subtext.append('?');

							input.classList.add('border-red')
						} else if (!json.found) {
							subtext.textContent = 'No results found.';
							input.classList.add('border-red')
						} else {
							input.classList.add('border-green')
							toggle_form_buttons(true)
						}
					})
				}
			}, 500);
		}

		document.getElementById('swap').addEventListener('submit', swap_form)
		document.getElementById('swap-tag').addEventListener('input', delay_search)
	</script>
{% endmacro %}