{% macro swap() %}
	<div>
		<div class = 'rounded swap'>
			<h2>Swap</h2>
			<p>Send $5 to another swapper</p>
			<form id = 'swap' class = 'm-top-1' autocomplete = 'off'>
				<div>
					<div class = 'swap-input-wrapper'>
						<input id = 'swap-tag' type = 'text' placeholder = '@shaketag'>
						<p id = 'swap-input-subtext'>&nbsp</p>
					</div>
					<input id = 'swap-note' type = 'text' placeholder = 'note (optional)'>
				</div>
				<div class = 'button-wrapper m-top-1'>
					<button id = 'submit' type = 'submit' class = 'contained' disabled>SWAP</button>
					<button id = 'check' type = 'submit' class = 'emphasis' disabled>CHECK</button>
					<div id = 'check-status'></div>
				</div>
			</form>
		</div>
	</div>
	<script type = 'text/javascript'>
		let swap_input_timer;

		function toggle_form_buttons(enabled) {
			document.getElementById('check').disabled = !enabled;
			document.getElementById('submit').disabled = !enabled;
		}
		
		function check(event) {
			event.preventDefault();
			
			let shaketag = append_shaketag(document.getElementById('swap-tag').value);

			if (event.submitter.id === 'check') {
				fetch('/check/' + shaketag)
				.then(async (data) => {
					json = await data.json();

					console.log(get_human_time((Date.now() / 1000) - json['last_date']));
				})
			} else {
				console.log('swap')
			}
		}

		function delay_search(event) {
			clearTimeout(swap_input_timer);
			
			input = document.getElementById('swap-tag');
			input.classList.remove('underline-red', 'underline-green')

			subtext = document.getElementById('swap-input-subtext');
			subtext.innerHTML = '&nbsp';

			swap_input_timer = setTimeout(async () => {
				toggle_form_buttons(false)
				shaketag = event.target.value.trim();

				if (shaketag !== '' && shaketag !== '@') {
					shaketag = append_shaketag(shaketag);

					fetch('/search/' + shaketag)
					.then(async (data) => {
						json = await data.json();

						if (json.found && json.match !== shaketag) {
							subtext.append('Did you mean: ');
							subtext.append(create_put_link(json.match));
							subtext.append('?');

							input.classList.add('underline-red')
						} else if (!json.found) {
							subtext.textContent = 'No results found.';
							input.classList.add('underline-red')
						} else {
							input.classList.add('underline-green')
							toggle_form_buttons(true)
						}
					})
				}
			}, 500);
		}

		document.getElementById('swap').addEventListener('submit', check)
		document.getElementById('swap-tag').addEventListener('input', delay_search)
	</script>
{% endmacro %}