{% macro swap() %}
	<div class = 'rounded swap'>
		<h2>Swap</h2>
		<p>Send $5 to another swapper</p>
		<div class = 'divider'></div>
		<form id = 'swap' class = 'm-top-1' autocomplete = 'off'>
			<div class = 'flex-row swap-input-wrapper'>
				<div class = 'swap-input-content'>
					<div>
						<input id = 'swap-tag' type = 'text' placeholder = '@shaketag'>
						<div id = 'swap-indicator'>
						</div>
					</div>
					<p id = 'swap-input-subtext'>&nbsp</p>
				</div>
				<input id = 'swap-amount' type = 'number' min = 0 step = '0.01' placeholder = 'amount' value = '5'>
			</div>
			<input id = 'swap-note' type = 'text' placeholder = 'note (optional)'>
			<div class = 'button-wrapper m-top-1 flex-row'>
				<button id = 'submit' type = 'submit' class = 'contained' disabled>SWAP</button>
			</div>
			<div id = 'swap-status' class = 'hidden'></div>
		</form>
	</div>
	<script type = 'text/javascript'>
		let swap_input_timer;

		function swap_form(event) {
			event.preventDefault();
			
			let shaketag_input = document.getElementById('swap-tag');
			let shaketag = append_shaketag(shaketag_input.value);

			// easier than removing text and styling
			let status = document.getElementById('swap-status');
			status.classList.add('hidden');

			let send_button = document.getElementById('submit');
			set_loading(send_button);

			document.getElementById('submit').disabled = true;

			let body = {
				note: document.getElementById('swap-note').value,
				amount: document.getElementById('swap-amount').value
			}

			fetch('/swap/' + shaketag, {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(body)
			}).then(async (data) => {
				if (await data.ok) {
					document.getElementById('swap-status').textContent = `Sent to ${shaketag}!`;

					shaketag_input.value = '';
					shaketag_input.placeholder = shaketag;
				} else {
					document.getElementById('swap-status').textContent = `Failed to send, do you have enough funds?`;
					document.getElementById('submit').disabled = false;
				}

				status.classList.remove('hidden');
				send_button.innerHTML = 'SEND';
			})
		}

		function delay_search(event) {
			clearTimeout(swap_input_timer);
			
			let input = document.getElementById('swap-tag');
			input.classList.remove('border-red');

			let subtext = document.getElementById('swap-input-subtext');
			subtext.innerHTML = '&nbsp';

			// hide status text
			document.getElementById('swap-status').classList.add('hidden');

			swap_input_timer = setTimeout(async () => {
				document.getElementById('submit').disabled = true;
				shaketag = event.target.value.trim();

				let indicator = document.getElementById('swap-indicator');

				if (shaketag !== '' && shaketag !== '@') {
					set_loading(indicator);

					shaketag = append_shaketag(shaketag);

					fetch('/search/' + shaketag)
					.then(async (data) => {
						json = await data.json();

						if (json.found && json.match !== shaketag) {
							subtext.innerHTML = '';
							subtext.append('Did you mean: ');
							subtext.append(create_put_link(json.match));
							subtext.append('?');

							input.classList.add('border-red');
							unset_loading(indicator);
						} else if (!json.found) {
							subtext.textContent = 'No results found.';

							input.classList.add('border-red');
							unset_loading(indicator);
						} else {
							subtext.innerHTML = '&nbsp';
							input.classList.remove('border-red');
							document.getElementById('submit').disabled = false;

							check(shaketag)
						}
					})
				} else {
					unset_loading(indicator);
					input.classList.remove('border-red');
				}
			}, 500);
		}

		function check(shaketag) {
			fetch('/check/' + shaketag)
			.then(async (data) => {
				let json = await data.json();
				let status = document.getElementById('swap-status')

				if (json['do_swap']) {
					status.classList.remove('border-red');

					if (json['swapped']) {
						status.textContent = 'Already swapped today!';
					} else {
						if (json.hasOwnProperty('last_date')) {
							status.textContent = 'Have not swapped today!';
						} else {
							status.textContent = 'Fresh meat, never swapped!';
						}
					}
				} else {
					status.classList.add('border-red');
					status.textContent = `WARNING, ${shaketag} is flagged in the database! Send at your own risk! (${json['reason']})`;
				}

				unset_loading(document.getElementById('swap-indicator'));
				status.classList.remove('hidden');
			})
		}

		document.getElementById('swap').addEventListener('submit', swap_form)
		document.getElementById('swap-tag').addEventListener('input', delay_search)
	</script>
{% endmacro %}